/* Generated NGUYEN HOANG TAN TAN TAI * 17-06-2015 * VERSION 1.0 */
/*------------------------------------------------*/
/* FORM */
/*------------------------------------------------*/
/* FORM TYPE*/
.form .form-horizontal .control-label {
    padding-top: 4px;
}

.form .form-control {
    padding: 5px 12px 5px 15px;
    font-size: 13px;
    border-radius: 0px !important;
}

.form .form-inline {
    padding: 2px;
}

.form .form-control.requirements {
    background-image: url(../Images/requirements.png);
    background-repeat: no-repeat;
    background-position-y: 1px;
}

.form .form_checkboxlist.requirements {
    background-image: url(../Images/requirements.png);
    background-repeat: no-repeat;
    background-position-y: -4px;
    padding-left: 18px;
    display: block;
}

.form .form_checkboxlist.requirements td {
	padding-right: 30px;
}

.form-control{
	height:32px;
}

/*CHECKBOX - RADIO*/
.form .checkbox, .form .radio {
    min-height: 31px;
}

.form .checkbox input[type=checkbox], .form .checkbox-inline input[type=checkbox], .form .radio input[type=radio], .form .radio-inline input[type=radio] {
    margin-left: 0px;
    position: relative;
    top: 2px;
    margin-right: 5px;
}

span .batbuoc {
    color: red;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    top: 5px;
}

@media (max-width: 767px) {
    .form .form-inline .RadPicker.RadPicker_Default {
        width: 100% !important;
    }

    .form .form-inline .form-control {
        width: 100% !important;
    }

    .form .form-inline .RadComboBox.RadComboBox_Simple {
        width: 100% !important;
    }
}
/*------------------------------------------------*/
/* END FORM */
/*------------------------------------------------*/

/*------------------------------------------------*/
/* PANEL */
/*------------------------------------------------*/
.panel.panel-white {
    /*box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.35);*/
    border: 1px solid #d2d6de;
}

.panel.panel-white .panel-heading {
    position: relative;
    background: #F7F7F7;
}

.panel.panel-white .panel-heading a h4:after {
    position: absolute;
    width: 40px;
    height: 100%;
    z-index: 0;
    font-size: 16px;
    color: #3c8dbc;
    border-left: 1px solid #eee;
    padding-top: 10px;
    right: 0px;
    padding-left: 10px;
    top: 0px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.panel.panel-white .panel-heading a.collapsed h4:after {
    content: "\e259";
}

.panel.panel-white .panel-heading a h4:after {
    content: "\e260";
}

.panel.panel-white .panel-heading a .panel-title {
    color: #777;
    font-size: 14px;
    text-transform: uppercase;
	font-weight:bold;
}
/*------------------------------------------------*/
/* END PANEL */
/*------------------------------------------------*/
/*!
 * START DANHSACH
 */
.danhsach {
    width: 100%;
    padding: 6px 10px;
}

.danhsach > table {
    width: 100%;
    margin-bottom: 10px;
}

.panel_card .danhsach > table {
    margin-bottom: 0px;
}

.panel_card .danhsach > table > tbody > tr:last-child {
    text-align: right;
}

.danhsach table > tbody > tr {
    min-height: 35px;
}

.danhsach table > tbody > tr.tieude, .danhsach table > tbody > tr.tieude > th {
    text-align: center;
    vertical-align: middle;
    font-size: 13px;
    min-height: 40px !important;
    font-weight: bold;
}

.danhsach table > tbody > tr.tieude2 {
    text-align: center;
    vertical-align: middle;
    font-size: 13px;
    min-height: 40px !important;
    font-weight: bold;
}

.danhsach table > tbody > tr.tieude2:hover {
    background: #FCFAFA !important;
}

.danhsach table > tbody > tr.tieude2 > td {
    height: 25px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.danhsach table > tbody > tr.tieude2 > td:first-child {
    border-left: 1px solid #F0EFEF;
}

.danhsach table > tbody > tr.tieude2 > td:last-child {
    border-right: 1px solid #F0EFEF;
}

.danhsach table > tbody > tr.tieude:hover {
    background: #FCFAFA !important;
}

.danhsach table > tbody > tr.tieude > td,
.danhsach table > tbody > tr.tieude > th,
.danhsach table > thead > tr.tieude > th,
.danhsach table > thead > tr.tieude > td {
    height: 36px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: #eee;
    text-align: center;
    color: #333;
}

.danhsach table > tbody > tr.tieude > td:first-child, .danhsach table > tbody > tr.tieude > th:first-child {
    border-left: 1px solid #F0EFEF;
}

.danhsach table > tbody > tr.tieude > td:last-child, .danhsach table > tbody > tr.tieude > th:last-child {
    border-right: 1px solid #F0EFEF;
}

.danhsach table {
    border: 0;
}

.danhsach table > tbody > tr > td {
    height: 36px;
    border-top: 0px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #F0EFEF;
    border-right: 1px solid #F0EFEF;
    padding: 5px;
    position: relative;
}

.danhsach table > tbody > tr > td > a {
    color: #444;
}

.label {
    position: relative;
    top: -10px;
    font-size: 60%;
    line-height: 24px;
    left: -3px;
}

.danhsach table > tbody > tr:hover {
    cursor: pointer;
    background: #EFEFEF !important;
}
.danhsach table > tbody > tr.tieude:hover  {
    cursor: default;
}
.danhsach table > tbody > tr:nth-of-type(odd) {
    background-color: #FCFAFA;
}

.danhsach table > tbody > tr.DarkGray-bg,
.danhsach table > tbody > tr.DarkGray-bg:hover {
    background-color: darkgray !important;
}
.danhsach table > tbody > tr > td .icon-xem,
.danhsach table > tbody > tr > td .icon-sua,
.danhsach table > tbody > tr > td .icon-user,
.danhsach table > tbody > tr > td .icon-in,
.danhsach table > tbody > tr > td .icon-an,
.danhsach table > tbody > tr > td .icon-hien,
.danhsach table > tbody > tr > td .icon-link {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    justify-content: center;
    align-items: center;
}

.danhsach table > tbody > tr > td .number-link {
    width: 100%;
    height: 100%;
    display:block;
}
.ds-nopointer table > tbody > tr:hover {
    cursor: default;
}
/*!
 * END DANHSACH
 */
span.numpager {
    background: #eee;
}

.icon-sua, .icon-xoa, .icon-user, .icon-in, .icon-an, .icon-hien {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings' !important;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 15px;
}

.icon-xem::before {
    content: "\e003";
    color: #B5B5B5;
}

.icon-sua::before {
    content: "\270f";
    color: #D27D0C;
}

.icon-xoa::before {
    content: "\e014";
    color: rgb(203, 5, 5);
}

.icon-user:before {
    content: "\e008";
    color: #006261;
}

.icon-in:before {
    content: "\e045";
    color: #AC0C38;
}

.icon-hien:before {
    content: "\e013";
    color: #229D53;
}

.icon-an:before {
    content: "\e013";
    color: #A7121E;
}

.baoloi {
    padding: 5px 10px 5px 15px;
    margin: 10px 0;
    border: 1px solid #eee;
    border-left-width: 2px;
    border-radius: 0px;
    border-left-color: #B20A04;
    color: #B20A04 !important;
    font-size: 13px;
}

.baoloi ul {
    list-style: none;
    margin: 7px 0px 7px 0px !important;
}

.baoloi ul li {
    list-style: none;
}

.icon-item {
    width: 16.66666%;
    height: 130px;
    padding: 10px;
    float: left;
}

.icon-item * {
    webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.icon-item .icon-content {
    width: 100%;
    height: 100%;
    background: #fff;
    /*box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);*/
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
}

.icon-item .icon-content:hover {
    box-shadow: 0px 4px 10px 0 rgba(0,0,0,0.1),0px 2px 10px 0px rgba(0,0,0,0.1);
}

.icon-item .icon-content a.icon-link img {
    width: 35px;
    height: 35px;
    margin: 15px;
}

.icon-item .icon-content a.icon-link {
    display: block;
}

.icon-item .icon-content a.icon-link .icon-tile {
    font-size: 13px;
    font-family: Roboto;
    color: #CD8115;
    /*text-transform:uppercase;*/
}





table.table1 {
    border-right: #333333 1px solid;
    border-top: #333333 1px solid;
    border-left: #333333 1px solid;
    border-bottom: #333333 1px solid;
    border-collapse: collapse;
    font-size: 7pt;
    font-family: Arial;
}

table.table1 td {
    border-width: 1px 1px 1px 1px;
    padding: 1px 1px 1px 1px;
    border-style: solid solid solid solid;
    border-color: #333333 #333333 #333333 #333333;
}

table.table1 > tbody > tr {
    height: 12pt !important;
}

table.table1 > tbody > tr.tieudein {
    text-align: center;
    vertical-align: middle;
    font-size: 8pt;
    height: 20px !important;
    font-weight: bold !important;
    background-color: darkgray !important;
    line-height: 14px;
}

.tablein {
    border-right: #eeeeee 1px solid;
    border-top: #eeeeee 1px solid;
    border-left: #eeeeee 1px solid;
    border-bottom: #eeeeee 1px solid;
    border-collapse: collapse;
    background-color: white;
    font-size: 7pt;
    font-family: Arial;
}

.tablein > tbody > tr {
    padding: 1px;
}

.tablein td {
    border-width: 1px 1px 1px 1px;
    padding: 1px 1px 1px 1px;
    border-style: solid solid solid solid;
    border-color: #eeeeee #eeeeee #eeeeee #eeeeee;
}

.tablethongtin {
    border-right: #eeeeee 1px solid;
    border-top: #eeeeee 1px solid;
    border-left: #eeeeee 1px solid;
    border-bottom: #eeeeee 1px solid;
    border-collapse: collapse;
    background-color: white;
}

.tablethongtin > tbody > tr {
    padding: 1px;
}

.tablethongtin td {
    border-width: 1px 1px 1px 1px;
    padding: 1px 1px 1px 1px;
    border-style: solid solid solid solid;
    border-color: #eeeeee #eeeeee #eeeeee #eeeeee;
}

.tabletonghop {
    border-right: #969090 1px solid;
    border-top: #969090 1px solid;
    border-left: #969090 1px solid;
    border-bottom: #969090 1px solid;
    border-collapse: collapse;
    background-color: white;
}

.tabletonghop > tbody > tr {
    padding: 1px;
}

.tabletonghop td {
    border-width: 1px 1px 1px 1px;
    padding: 1px 1px 1px 1px;
    border-style: solid solid solid solid;
    border-color: #969090 #000000 #969090 #000000;
    height: 22pt;
    vertical-align: bottom;
    font-size: 7pt;
    font-family: Arial;
}

.tabletonghop tr:last-child td {
    border-width: 1px 1px 1px 1px;
    padding: 1px 1px 1px 1px;
    border-style: solid solid solid solid;
    border-color: #000000 #000000 #000000 #000000;
}

.tieudedg td {
    text-align: center;
    vertical-align: middle;
    font-size: 13px;
    min-height: 40px !important;
    font-weight: bold !important;
    border-width: 1px 1px 1px 1px;
    padding: 1px 1px 1px 1px;
    border-style: solid solid solid solid;
    border-color: #000000 #000000 #000000 #000000;
}

.tieude2 td {
    text-align: center;
    vertical-align: middle;
    font-size: 8pt;
    height: 25px !important;
    font-weight: bold !important;
    font-family: Arial;
    border-width: 1px 1px 1px 1px;
    padding: 1px 1px 1px 1px;
    border-style: solid solid solid solid;
    border-color: #000000 #000000 #000000 #000000;
}

.DarkGray-bg,
.DarkGray-bg:hover {
    background-color: #CCCCCC !important;
    font-weight: bold !important;
}
/**/
/*Table Socai*/
/**/

.tablesocai {
    border-right: #969090 1px solid;
    border-top: #969090 1px solid;
    border-left: #969090 1px solid;
    border-bottom: #969090 1px solid;
    border-collapse: collapse;
    background-color: white;
}

.tablesocai tr.tieudesocai td, .tablesocai tr.tieude td {
    text-align: center;
    vertical-align: middle;
    font-size: 7pt;
    line-height: 12px !important;
    height: auto !important;
    border-width: 1px 1px 1px 1px;
    padding: 1px 1px 1px 1px;
    border-style: solid solid solid solid;
    border-color: #000000 #000000 #000000 #000000;
    font-family: Arial;
    font-weight: bold !important;
    background-color: #CCCCCC !important;
}

.tablesocai tr td {
    border-width: 1px 1px 1px 1px;
    padding: 1px 1px 1px 1px;
    border-style: solid solid solid solid;
    border-color: #969090 #000000 #969090 #000000;
    vertical-align: bottom;
    height: 20pt;
    font-size: 7pt;
    font-family: Arial;
    line-height: 12px;
}

.tablesocai tr:last-child td {
    border-width: 1px 1px 1px 1px;
    padding: 1px 1px 1px 1px;
    border-style: solid solid solid solid;
    border-color: #000000 #000000 #000000 #000000;
}
/*Tong hop*/
.tabletonghop {
    border-right: #969090 1px solid;
    border-top: #969090 1px solid;
    border-left: #969090 1px solid;
    border-bottom: #969090 1px solid;
    border-collapse: collapse;
    background-color: white;
}

.tabletonghop tr.tieudesocai td, .tabletonghop tr.tieude td {
    text-align: center;
    vertical-align: middle;
    font-size: 7pt;
    line-height: 20px !important;
    height: auto !important;
    border-width: 1px 1px 1px 1px;
    padding: 1px 1px 1px 1px;
    border-style: solid solid solid solid;
    border-color: #000000 #000000 #000000 #000000;
    font-family: Arial;
    font-weight: bold !important;
}

.tabletonghop tr td {
    border-width: 1px 1px 1px 1px;
    padding: 1px 1px 1px 1px;
    border-style: solid solid solid solid;
    border-color: #969090 #000000 #969090 #000000;
    vertical-align: bottom;
    height: 20pt;
    font-size: 7pt;
    font-family: Arial;
    line-height: 12px;
}

.tabletonghop tr:last-child td {
    border-width: 1px 1px 1px 1px;
    padding: 1px 1px 1px 1px;
    border-style: solid solid solid solid;
    border-color: #000000 #000000 #000000 #000000;
}


/*!
 * START GD_DIEMTIEN_THONGTINTAIKHOAN
 */
.form_view_profile {
    padding-top: 0px;
    background: #F2F2F2;
}

.user_avartar_image {
    border: 1px solid #eee;
    box-shadow: 2px 4px 10px #B0ADAD;
    margin-right: 30px;
    width: 165px;
}

.user_fullname {
    font-size: 16px;
    font-weight: bold;
}

.form.form-capnhat .val_profile,
.form.form-capnhat .lbl_profile {
    line-height: 32px;
}

.form.form-capnhat .lbl_profile {
    text-align: right;
    font-weight: bold;
    padding-right: 10px !important;
}

.form.form-capnhat .val_profile {
    text-align: left;
}

.form.form-capnhat .val_form,
.form.form-capnhat .lbl_form {
    line-height: 28px;
    MARGIN-BOTTOM: 10PX;
}

.form.form-capnhat .lbl_form {
    text-align: right;
    padding-right: 10px !important;
}

.form.form-capnhat .val_form {
    text-align: left;
}

.panel_card {
    margin: 10px;
}

.panel.panel_card > .panel-heading {
    border-radius: 0px 0px 0px 0px;
    text-align: left;
    font-size: 15px;
    padding: 10px 10px 10px 10px;
    font-weight: bold;
}

.panel.panel_card {
    box-shadow: 2px 4px 10px #B0ADAD;
    border: 0px;
}

.panel.panel_card > .panel-body {
    padding-bottom: 5px;
    border-radius: 0px 0px 0px 0px;
    padding: 0px;
}

.sodiem,
.sotien,
.sotietkiem {
    position: relative;
    display: inline-block;
    text-align: left;
    font-size: 36px;
    line-height: 50px !important;
    padding-left: 10px;
    color: #fff;
}

.sodiem_dvt,
.sotien_dvt,
.sotietkiem_dvt {
    display: none;
}

.form .panel.panel_card input[type="button"],
.form .panel.panel_card input[type="submit"] {
    margin-top: 5px;
    border-radius: 0px;
    margin-bottom: 5px;
    box-shadow: 2px 4px 6px #D1CECE;
}

@media (min-width: 1200px) {
    .form .panel.panel_card input[type="button"],
    .form .panel.panel_card input[type="submit"] {
        width: 55%;
    }
}

@media (max-width: 1200px) {
    .form .panel.panel_card input[type="button"],
    .form .panel.panel_card input[type="submit"] {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .form .panel.panel_card input[type="button"],
    .form .panel.panel_card input[type="submit"] {
        width: 92%;
        padding: 8px 10px;
    }
}

@media (max-width: 600px) {
    .form .panel.panel_card input[type="button"],
    .form .panel.panel_card input[type="submit"] {
        width: 70%;
        padding: 12px 10px;
    }

    .form .panel.panel_card {
        padding-bottom: 10px;
    }
}

@media (max-width: 500px) {
    .form .panel.panel_card input[type="button"],
    .form .panel.panel_card input[type="submit"] {
        padding: 8px 10px;
        width: 80%;
    }
}

@media (min-width: 601px) {
    .panel_sotietkiem > .panel-body,
    .panel_tuitien > .panel-body,
    .panel_tuidem > .panel-body {
        min-height: 150px;
    }
}

.laixuathientai {
    color: #fff;
}

.ThongBaoChuaCoSoTietKiem {
    font-size: 14px;
    color: #fff;
    margin-top: 5px;
    position: relative;
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.ThongBaoChuaCoSoTietKiem_GoiY, .ThongBaoChuaCoThongTinATM {
    padding: 0px 10px;
    display: block;
    color: #fff;
    margin-bottom: 5px;
}
/*!
 * END GD_DIEMTIEN_THONGTINTAIKHOAN
 */
.panel.panel_card_type_form > .panel-heading {
    font-weight: bold;
    border-radius: 0px 0px 0px 0px;
}

.panel.panel_card_type_form > .panel-body {
    padding-bottom: 15px;
    border-radius: 0px 0px 0px 0px;
}

.panel.panel_card_type_form {
    margin: 10px;
    box-shadow: 1px 1px 4px #CFCFCF;
    padding: 0px 10px 0px 10px;
}

.panel_card.panel_tuidem {
    background-color: #29b6d8;
    border: 1px solid #22b7bb;
}

.panel_card.panel_tuidem .panel-heading {
    /*background-color: #28ADCE;*/
    color: #fff;
    font-size: 17px;
}

.panel_card.panel_tuitien {
    background-color: #66c796;
    border: 1px solid #53c077;
}

.panel_card.panel_tuitien .panel-heading {
    color: #fff;
    font-size: 17px;
    /*background-color: #5AB989;*/
}

.panel_card.panel_sotietkiem {
    background-color: #df6a78;
    border: 1px solid #da557b;
}

.panel_card.panel_sotietkiem .panel-heading {
    /*background-color: #D26370;*/
    color: #fff;
    font-size: 17px;
}

.panel_card.panel_sotietkiem .lbl_profile,
.panel_card.panel_sotietkiem .val_profile {
    color: #fff;
    line-height: 26px;
}

@media(max-width:600px) {
    .row .inline600 {
        float: none;
        width: 100%;
    }
}

@media(max-width:768px) {
    /*.form .alignright
    {
        text-align:left;
    }*/

}

/*!
 * START BTN TRANSPERENT WHITE BORDER
 */
.form input.transperent_white, .form input.transperent_white, .form input.transperent_white {
    color: #fff;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.14) !important;
}

.form input[type="button"].transperent_white:hover, .form input[type="submit"].transperent_white:hover, .form input[type="reset"].transperent_white:hover .form input[type="button"].transperent_white:focus, .form input[type="submit"].transperent_white:focus, .form input[type="reset"].transperent_white:focus .form input[type="button"].transperent_white:active, .form input[type="submit"].transperent_white:active, .form input[type="reset"].transperent_white:active .form input[type="button"].transperent_white.active, .form input[type="submit"].transperent_white.active, .form input[type="reset"].transperent_white.active .form input[type="button"].transperent_white.focus, .form input[type="submit"].transperent_white.focus, .form input[type="reset"].transperent_white.focus {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.form input[type="button"].transperent_white.disabled, .form input[type="submit"].transperent_white.disabled, .form input.transperent_white.disabled,
.form input[type="button"].transperent_white[disabled], .form input[type="submit"].transperent_white[disabled], .form input.transperent_white[disabled],
.form[disabled] input[type="button"].transperent_white, .form[disabled] input[type="submit"].transperent_white, .form[disabled] input.transperent_white,
.form input[type="button"].transperent_white.disabled:hover, .form input[type="submit"].transperent_white.disabled:hover, .form input.transperent_white.disabled:hover,
.form input[type="button"].transperent_white[disabled]:hover, .form input[type="submit"].transperent_white[disabled]:hover, .form input.transperent_white[disabled]:hover,
.form[disabled] input[type="button"].transperent_white:hover, .form[disabled] input[type="submit"].transperent_white:hover, .form[disabled] input.transperent_white:hover,
.form input[type="button"].transperent_white.disabled:focus, .form input[type="submit"].transperent_white.disabled:focus, .form input.transperent_white.disabled:focus,
.form input[type="button"].transperent_white[disabled]:focus, .form input[type="submit"].transperent_white[disabled]:focus, .form input.transperent_white[disabled]:focus,
.form[disabled] input[type="button"].transperent_white:focus, .form[disabled] input[type="submit"].transperent_white:focus, .form[disabled] input.transperent_white:focus,
.form input[type="button"].transperent_white.disabled.focus, .form input[type="submit"].transperent_white.disabled.focus, .form input.transperent_white.disabled.focus,
.form input.transperent_white[disabled].focus, .form input[type="submit"].transperent_white[disabled].focus, .form input.transperent_white[disabled].focus,
.form[disabled] input[type="button"].transperent_white.focus, .form[disabled] input.transperent_white.focus, .form[disabled] input.transperent_white.focus,
.form input[type="button"].transperent_white.disabled:active, .form input[type="submit"].transperent_white.disabled:active, .form input.transperent_white.disabled:active,
.form input[type="button"].transperent_white[disabled]:active, .form input[type="submit"].transperent_white[disabled]:active, .form input.transperent_white[disabled]:active,
.form[disabled] input[type="button"].transperent_white:active, .form[disabled] input[type="submit"].transperent_white:active, .form[disabled] input.transperent_white:active {
    background-color: rgba(228, 225, 225, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.5);
    cursor: no-drop;
}

.form .panel.panel_card input[type="button"],
.form .panel.panel_card input[type="submit"] {
    margin-top: 5px;
    border-radius: 0px;
    margin-bottom: 5px;
    box-shadow: 2px 4px 6px #D1CECE;
}

.form input.btn-print:before {
    content: "\e045";
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*---REPONSIVE---*/
@media (min-width: 1200px) {
    .form .panel.panel_card input[type="button"],
    .form .panel.panel_card input[type="submit"] {
        width: 55%;
    }
}

@media (max-width: 1200px) {
    .form .panel.panel_card input[type="button"],
    .form .panel.panel_card input[type="submit"] {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .form .panel.panel_card input[type="button"],
    .form .panel.panel_card input[type="submit"] {
        width: 92%;
        padding: 8px 10px;
    }
}

@media (max-width: 600px) {
    .form .panel.panel_card input[type="button"],
    .form .panel.panel_card input[type="submit"] {
        width: 70%;
        padding: 12px 10px;
    }

    .form .panel.panel_card {
        padding-bottom: 10px;
    }
}

@media (max-width: 500px) {
    .form .panel.panel_card input[type="button"],
    .form .panel.panel_card input[type="submit"] {
        padding: 8px 10px;
        width: 80%;
    }
}

@media (min-width: 601px) {
    .panel_sotietkiem > .panel-body,
    .panel_tuitien > .panel-body,
    .panel_tuidem > .panel-body {
        min-height: 150px;
    }
}
/*!
 * END BTN TRANSPERENT WHITE BORDER
 */
/*!
 * START PAGING
 */
.paping a.paging_item, .paping span, .paping .paging_btn {
    display: inline-block;
    position: relative;
    width: 25px;
    height: 30px;
    text-align: center;
    line-height: 29px;
    color: #4C4A4A;
    margin-left: 2px;
    font-size: 13px;
    margin-right: 2px;
}

.paping a.paging_item {
    border: 1px solid #E0E0E0;
    color: #4C4A4A;
}

.paping span {
    border: 1px solid #E0E0E0;
    color: #FFFFFF;
    background: #1f91f3;
}

.paping .paging_btn {
    /*font-weight: bold;*/
    font-size: 14px;
    color: #333;
}

    .paping .paging_btn.aspNetDisabled {
        color: #757574;
    }

.paping .ddl_pagesize {
    width: 65px;
}

.paping .paging_label {
    line-height: 29px;
    color: #000;
    margin-left: 7px;
    margin-right: 3px;
    float: right;
}

input[type=checkbox] {
	width:16px;
	height:16px;
}
/* Font-awesome */
.fa {
	font-size:16px;
	padding-right: 5px;
}

.icon_upload{
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.custom_ds_file table.Grid{
    border-top: 1px solid rgba(221, 221, 221, 0.81);
}
.footer {
    background-color: #FFEBCD !important;
}
.chkDoiTac input {
    width: 15px;
    height: 15px;
    float: left;
}
.lblDT{
    float: left;
    padding-top: 1px;
    padding-left: 5px;
    padding-right: 20px;
}
.chkTT>input{
    display:none;
}
.chkTT>label{
    cursor:pointer;
    float:right;
}
.color_red{
        color: #B20A04; 
    }
 

/*Css form tong hop*/
.icon_sum{
    font-size: 25px;
    padding-right: 0px;
}
.info-box{
        background-color: #fff !important;
        border-radius: 0px;
        min-height: 103px;
        box-shadow: 2px 2px 8px #CCC;
    }
.info-box-icon{
        width: 69px;
    height: 69px;
    line-height: 52px;
}
.info-box-content {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 0px;
    width: 100%;
    display: block;
    text-align: left;
    vertical-align: middle;
}
.info-box-content *{
        
vertical-align: middle;
}
  
.info-box-number{
    font-size:14px;
}
.info-box-text{
    text-transform:none;
    padding-bottom: 5px;
    padding-top: 5px;
}  
.border_green{
    border-top: 4px solid #5DB56A;
}
.border_orange{
    border-top: 4px solid #ffa600;
}
.border_red{
    border-top: 4px solid #ff0000;
}
.border_blue {
    border-top: 4px solid #0182c6;
}
.red{
    color:#ff0000;
    font-size: 25px;
}
.green{
    color:#5DB56A;
    font-size: 25px; 
}   
.orange{
    color:#ffa600;
    font-size: 25px;
}
.blue{
    color:#0182c6;
    font-size: 25px;
}  
#dnn_ContentLeft{
    padding-left:0px;
    padding-right:2px;
}
#dnn_ContentRight{
    padding-right:0px;
    padding-left:2px;
}
.danhsach{
    padding-left: 2px;
    padding-right: 2px;
}
.reponsive_danhsach{
    min-height:530px;
}
.view_more{
    text-align: right;
    color: #006ca5;
    font-weight: bold;
    position: absolute;
    right: 5px;
    bottom: 10px;
}

.title-box {
    font-size: 15px; 
    font-weight: bold;
}
.title-name {
        margin-left: 3px;
}    

.giatri {
    font-weight: bold;
    float: right;
}

.radius_2{
    border-radius:2px !important;
}
.event_dropmenu{
    min-width:120px;
}
.color_blue{
    color:#0182c6;
}
.color_red{
    color:#ff0000;
}
.color_orange{
    color:#D27D0C;
}
.color_green{
    color:#5DB56A;
}  
.menu_left_right .custom_icon_l_r {
        border: 1px solid #0182c6;
    border-radius: 1px;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: -4px;
    font-size: 16px;
    color: #0182c6;
}
.menu_left_right .custom_icon_l_r:hover{
    color: #FFF;
    background:#0182c6;
}

.menu_left_right .T-I-T {
    color: #505050;
    font-size: 15px;
    margin-left: 5px;
    margin-right: 5px;
}
.btn_custom {
    width: 115px;
    height: 35px;
    visibility: visible;
    border: 1px solid #ccc;
    border-radius: 1px;
    box-shadow: 2px 2px 8px #ccc !important;
    margin-right: 10px;
    min-width: 100px;
    background: #fff;
}
.menu_left_right .custom_icon_edit {
        border: 1px solid #d68100;
    border-radius: 1px;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: -4px;
    font-size: 16px;
    color: #e68b00;
}
.menu_left_right .custom_icon_edit:hover{
    color:#FFF;
    background:#e68b00;
}
.btn-group1 a.custom_icon_search{
    padding: 3px 8px 3px 7px;
    border-right: none;
    background-color: #FFF !important;
    margin-right: -5px;
    border-radius: 2px 0px 0px 2px !important;
    background-color: #fdfdfd !important;
}
.custom_button_dropdown{
    border-radius: 0px 2px 2px 0px !important;
    padding: 3px 9px 3px 9px !important;
    background-color: #fdfdfd !important;
}

.icon_ketthuc{
        color: transparent !important;
    font-size: 25px;
    width: 5px;
        border: 1px solid #d27e00;
    background: #ffa500;
}
.icon_quahan{
    color: transparent !important;
    font-size: 25px;
    width: 5px;
    border: 1px solid #ff0000;
    background: #ff0000;
}
.icon_chuaketthuc{
        color: transparent !important;
    font-size: 25px;
    width: 5px;
    border: 1px solid #008000;
    background: #008000;
}
.dnnFormPopup .ui-dialog-titlebar{
    
    padding: 8px 0 8px 8px !important;
}

.label-normal {
    font-weight: normal;
    text-align: left !important;
}
